
#main-nav{
    display: flex;
    flex-direction: column;
    font-size: 30px;
  margin-right: 10%;
}
#main-nav .item { 
    
    text-align: center;
    height: 30px;
    padding: 20px 20px 20px 20px;
    background-color:white;
    list-style-type: none; 
    box-shadow: 0px 0px 10px black;
    margin: 15px;
    width: 100%;
}
nav{
    padding: 0vw 33vw 0vw 33vw;
}
span{
    font-weight: bold;
}
  h1 {
    background-color:lightgrey;
    text-align: center;
    padding: 25px;
    width: 100%;  
  }
  input{
      border-color: grey;
      padding: 20px;
      width: 60%;
  }
 .button{background-color: orange;
      border-radius: 100%;
      float: right;
      margin-top: -5px;
      color:white;
      font-size: 30px;
     font-weight: bold;
  }
  label{
      margin-left: 15px;
      background-color: lightskyblue;
      text-align: center;
      color: azure;
      padding: 20px;
      border-radius: 10px;
  }
  footer{
      margin-left: 60px;
  }

 