body{
    margin :0;
}
#main-nav{
    display: flex;
    list-style-type: none;
    padding : 0;
    justify-content: space-between;
}
#main-nav .item{
    background-color: rgb(223, 132, 132);
    width: 33%;
    text-align: center;
}
#main-nav .item a{
    display: block;
    padding: 20px 0;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}
#main-content {
    display: flex;
}
.side-bar{
    width: 25vw;
    background: red;
}